<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {% if '/conta/' == request.path %}active{% endif %}" href="{% url 'painel' %}"> Painel </a>
			<a class="list-group-item {% if '/meus_pedidos/' in request.path %}active{% endif %}" href="{% url 'meus_pedidos' %}"> Meus Pedidos </a>
			<a class="list-group-item" href="#"> Editar Perfil </a>
			<a class="list-group-item" href="#"> Mudar Senha </a>			
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>