{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/painel_sidebar.html' %}	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edite seu perfil</strong>
		</header>
		<div class="card-body">
			<div class="text-right">
				<img src="{{perfilusuario.foto_perfil.url}}" alt="Foto de Perfil" width="100" style="border-radius:50px;">
			</div>
			<div class="row">		
			<div class="col-md-12">
				<form action="{% url 'editar_perfil' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label >Nome</label>
							{{usuario_form.nome}}
						</div>
						<div class="form-group col-md-6">
							<label >Sobrenome</label>
							{{usuario_form.sobrenome}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label >Telefone</label>
							{{usuario_form.numero_telefone}}
						</div>
						<div class="form-group col-md-6">
							<label >CPF</label>
							{{usuario_form.cpf}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label >Foto de Perfil</label>
							{{perfil_form.foto_perfil}}
						</div>					
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label >Estado</label>
							{{perfil_form.estado}}
						</div>
						<div class="form-group col-md-6">
							<label >Cidade</label>
							{{perfil_form.cidade}}
						</div>
					</div>
						<div class="form-row">
						<div class="form-group col-md-6">
							<label >Rua</label>
							{{perfil_form.rua}}
						</div>
						<div class="form-group col-md-6">
							<label >Número</label>
							{{perfil_form.número}}
						</div>
					</div>
					<input type="submit" value="Salvar" class="btn btn-primary">					
				</form>			
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}